<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<% include header.ejs %>

<body>
<br />
<div class="container">
     <form class="form-search" post="admin/staffs">
         <fieldset>
             <legend>人事信息查询</legend>
             <label for="txtCardId">工号</label><input type="text" id="txtCardId" class="input-small"/>
             <label for="txtUserName">姓名</label><input type="text" id="txtUserName" class="input-small"/>
             <label for="txtLoginName">账号</label><input type="text" id="txtLoginName" class="input-small"/>
             <button type="submit" class="btn  btn-small btn-primary">查询</button>
         </fieldset>
    </form>
    <br />
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                序号
            </th>
            <th>
                工号
            </th>
            <th>
                部门
            </th>
            <th>
                姓名
            </th>
            <th>
                Email
            </th>
            <th>
                是否管理员
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
        <tbody>
        <% userList.forEach(function(item){ %>
        <tr>
            <td>
               <%=item.Id %>
            </td>
            <td>
                <%=item.EmployeeID %>
            </td>
            <td>
                <%=item.Department %>
            </td>
            <td>
                <%=item.UserName %>
            </td>
            <td>
                <%=item.Email %>
            </td>
            <td>
                <%=item.IsAdmin==1?"是":"否" %>
            </td>
            <td>
                <a href="/staff/<%=item.Id%>">修改</a>
            </td>
        </tr>
        <% })%>
        </tbody>
    </table>
</div> <!-- /container -->
</body>
<% include footer.ejs %>
</html>